/* RESPONSIVE */

/* TABLET VERSION */
@media all and (max-width:800px){
    /* main-content */
    .col.played{
        flex-basis: calc((100% / 4) - 2%);
    }

    .col.suggested{
        flex-basis: calc((100% / 4) - 2%);
    }

    .col.popular{
        flex-basis: calc((100% / 4) - 2%);
    }
}


/* SMARTPHONE VERSION */
@media all and (max-width: 500px){
    /* main content */
    .col.played{
        flex-basis: calc((100% / 2) - 2%);
    }

    .col.suggested{
        flex-basis: calc((100% / 2) - 2%);
    }

    .col.popular{
        flex-basis: calc((100% / 2) - 2%);
    }
}


/* SMALL SMARTPHONE VERSION */
@media all and (max-width: 400px){
    #sidebar{
        width: 50px;
        align-items: center;
    }

    #playlists, .logo, #app-section, #playlist-title{
        display: none;
    }

    .app-section.here{
        border-left: none;
    }

    #app-section-xs{
        display: block;
    }

    #user-info{
        display: none;
    }

    #user-info-xs{
        display: block;
    }

    #upgrade{
        width: 88%;
    }

}