/* DESKTOP FIRST */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* stili container principale*/
#wrapper-up{
    display: flex;
    height: calc(100vh - 70px);
    overflow: hidden;
}

/* stili sidebar */
#sidebar{
    width: 450px;
    height: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 600;
}

.logo{
    height: 70px;
    padding: 10px;
}

.logo img{
    width: 90%;
    color: white;
}

#sidebar li{
    margin: 10px 0;
    color: #7d7f84;
    font-size: 13px;
}

#sidebar a{
    color: #7d7f84;
}

#sidebar a:hover{
    color: white;
}

#sidebar a:hover .icons{
    color: white;
}

.icons{
    padding: 0 10px;
    font-size: 20px;
    color: #7d7f84;
}

.app-section.here{
    border-left: 2px solid #99e22d;
}

#app-section-xs{
    display: none;
}

#logo-small img{
    width: 100%;
    padding: 0 10px;
}

#playlist-container{
    overflow-y: auto;
    color: #7d7f84;
}

h3{
    padding-left: 10px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

.fa-plus{
    background-color: #7d7f84;
    color: black;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
}

#new-playlist{
    display: flex;
    align-items: center;
}

#new-playlist .icons:hover{
    background-color: black;
}

#playlists{
    padding-left: 10px;
    font-weight: bold;
}

#download{
    color: #7d7f84;
    margin: 10px;
    font-size: 12px;
    padding: 10px 0;
    border-bottom: 1px solid #7d7f84;
}

.fa-circle-down{
    padding-right: 5px;
}

#user{
    margin: 10px;
}

#user a {
    color: white;
}

.fa-circle-user{
    padding-right: 5px;
}

#user-info-xs{
    display: none;
}


/* stili main-content */
#main-content{
    flex-grow: 1;
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
    padding-bottom: 30px;
}

#upgrade{
    width: 100%;
    height: 70px;
    z-index: 500;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.519);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button{
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
    transition: 0.2s all ease-in-out;
    margin-right: 15px;
}

.button:hover{
    transform: scale(1.1);
}

#type-of-section{
    padding-top: 90px;
    width: 60%;
    margin: 0 auto;
}

#type-of-section ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
}

#type-of-section li{
    margin-bottom: 20px;
    padding: 0 15px;
}

#type-of-section a{
    color: #7d7f84;
}

#type-of-section a:hover{
    color: white;
}

.here-underline{
    width: 30%;
    margin: 2px auto;
    background-color: #99e22d;
    height: 2px;
}

h2{
    margin-top: 30px;
    color: white;
    padding-left: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 20px;
    padding-left: 10px;
}

.col{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.col img{
    width: 100%;
}

.img-container, .img-round{
    position: relative;
}

.play-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    display: none;
    transition: all 1s ease-in-out;
}

.img-container:hover .play-hover{
    display: block;
}

.img-container:hover img{
    opacity: 0.4;
}

.img-round:hover .play-hover{
    display: block;
}

.img-round:hover img{
    opacity: 0.4;
}

/* recently played */
.col.played{
    flex-basis: calc((100% / 6) - 2%);
}

.genre{
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
}

.subtitle{
    font-size: 10px;
    font-weight: bold;
    color: #7d7f84;
}

/* creato per */
.col.suggested{
    flex-basis: calc((100% / 6) - 2%);
}

.suggerimenti{
    color: #7d7f84;
    font-weight: bold;
    padding-left: 10px;
    margin: 10px 0;
    font-size: 12px;
}

/* artisti più popolari */
.col.popular{
    flex-basis: calc((100% / 6) - 2%);
    position: relative;
}

.img-round{
    overflow: hidden;
    border-radius: 50%;
}

.col.popular img{
    margin-bottom: -5px;
}



/* stili footer */
footer{
    position: relative;
    z-index: 200;
}
#wrapper-controller{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    gap: 2%;
    align-items: center;
}

.col-footer{
    flex-basis: 20vw;
    display: flex;
    align-items: center;
}

.col-footer.large{
    flex-basis: 55vw;
    display: block;
} 

.col-song{
    flex-basis: calc(100% / 3);
    margin-left: 10px;
    color: white;
}

.img-footer{
    width: 50px;
}

.col-song img{
    width: 100%;
}

.title{
    font-size: 12px ;
}

.name{
    font-size: 7px;
}

.name a {
    color: #7d7f84;
}

.name a:hover{
    color: white;
}

.col-song.actions{
    margin-left: 3%;
}

.col-song.actions a{
    color: #7d7f84;
}

.col-song.actions a:hover{
    color: white;
}

.fa-folder{
    padding-left: 5px;
}

.play{
    text-align: center;
    margin-top: 2px;
}

.play-icons{
    padding: 10px;
    font-size: 1.2rem;
}

.rangebar{
    display: flex;
    justify-content: center;
    margin: 3px 0;
    align-items: center;
}

.bar{
    width: 30vw;
    height: 3px;
    background-color:#7d7f84;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}

.bar-active{
    display: block;
    width: 20%;
    height: 3px;
    background-color: whitesmoke;
}

.fa-circle{
    position: absolute;
    left: 20%;
    top: -4px;
    font-size: 12px;
    color: white;
    display: none;
}

.bar:hover .fa-circle{
    display: block;
}

.bar:hover .bar-active{
    background-color: #99e22d;
}

.minute{
    font-size: 8px;
    color: white;
}

.options{
    font-size: 0.8rem;
    padding: 10px;
}

.bar.volume{
    margin: 0 5px;
    width: 8vw;
}